---
import Layout from '../layouts/Layout.astro';

---

<Layout title='astro'>
	<a href="/">Inicio</a>
	<a href="/about">Sobre mi</a>
	<a href="/blog">Blog</a>
	<h1>Astro</h1>
	<h1>Mi sitio Astro</h1>
    <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde voy a postear sobre mi viaje de aprendizaje Astro.</p>

		
</Layout>


</style>
