---
import Layout from '../layouts/Layout.astro';

const pageTitle = 'Paguina de inicio'
---

<Layout title={pageTitle}>
	<a href="/">Inicio</a>
	<a href="/about">Sobre mi</a>
	<a href="/blog">Blog</a>
	<h1>{pageTitle}</h1>
		
</Layout>


</style>
